<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LaunchADDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LaunchADView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>681D3E4D1DFFA221002024A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF3505CB1F307102000F3DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF3505D31F307102000F3DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF3505EE1F307169000F3DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF3505F61F307169000F3DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
